.header{

   background-color: rgb(141, 53, 192);
   width: 100%;
   height: auto;
   color: #fff;
   padding: 15px 0;
   font-size: 25px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

